@media(max-width: 1400px) {
  .nav-link a {
    font-size: 1.3em;
  }
}

@media(orientation: portrait) and (max-width: 1050px) {
  .conatiner-about-me {
    height: 50vh;
  }

  .nav-link a {
    font-size: 1.2em;
  }
}

@media(max-width: 1000px) {
  .about-me-text {
    margin: auto 1.33em;
    padding: 1em;
    line-height: 1.3em;
    font-size: 1.1em;
  }
}

@media(max-width: 950px) {
  .nav-linka {
    font-size: 1em;
  }
}

@media(max-width: 850px) and (orientation: landscape) {
  h1 {
    font-size: 1.3em;
  }

  .name {
    width: 30%;
  }

  .nav-link a {
    font-size: 0.8em;
  }

  .conatiner-about-me {
    height: 100vh;
  }

  .technology {
    margin: 10px 15px;
  }

  .technology p {
    font-size: 0.8em;
  }

  .icon {
    font-size: 4.5em;
  }

  .contact-list li {
    font-size: 1.2em;
  }
}

@media(orientation: portrait) and (max-width: 800px) {
  .conatiner-about-me {
    height: 50vh;
  }
}

@media(max-width: 700px) {
  nav li a {
    font-size: 0.6em;
  }

  .conatiner-about-me {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
  }

  .container-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .container-img img {
    width: 150px;
    height: 200px;
  }

  .about-me-text {
    width: 100%;
    margin: auto;
    padding: 1em;
    font-size: 1.2em;
  }

  .about-me-text::before,
  .about-me-text::after {
    display: none;
  }

  .about-me-text::before {
    display: none;
  }

  .about-me-text::after {
    display: none;
  }

  .technology {
    width: 20%;
    height: 15%;
    margin: 10px 15px;
  }

  .technology p {
    font-size: 0.8em;
  }

  .icon {
    font-size: 4em;
  }

}

@media(max-width: 700px) and (orientation: landscape) {
  .nav-link a {
    font-size: 0.8em;
  }

  .conatiner-about-me {
    display: flex;
    flex-direction: row;
    height: 90vh;
  }

  .about-me-text {
    width: 70%;
    margin: auto;
    padding: 1em;
    font-size: 1em;
  }

  .container-img {
    width: 30%;
    margin: auto;
  }

  .container-img img {
    width: 150px;
    height: 200px;
  }
}

@media(max-width: 660px) {
  .name {
    width: 25%;
  }

  h1 {
    font-size: 1.2em;
  }

  .nav-link a {
    font-size: 0.7em;
  }
}

/* @media(orientation: landscape) and (max-width: 670px) {
  .container-img img {
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    border-radius: 50%;
  }
} */

@media(max-width: 600px) {
  #mobile-menu {
    display: inline-block;
    top: 0;
  }


  .name {
    width: 50%;
  }

  header {
    height: 10vh;
  }

  .navigation {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff3f5;
  }

  .nav-link {
    display: none;
  }

  .show {
    display: block;
    margin: 0 auto;
  }

  .show:first-child {
    margin-top: 40vh;
  }

  .show a {
    line-height: 1.5em;
    font-size: 1.2em;
  }

  .container-img img {
    width: 150px;
    height: 200px;
  }

  .about-me-text {
    font-size: 0.8em;
  }


  .technology {
    width: 18%;
    height: 15%;
    margin: 10px;
  }


  .portfolio-item {
    width: 50%;
    height: 400px;
  }
}

@media(max-width: 500px) {


  .container-img img {
    width: 130px;
    height: 170px;
  }
}

@media(max-width: 450px) and (orientation: landscape) {

  #mobile-menu {
    top: 0.5em;
  }

  .container-img {
    display: none;
  }

  .technology p {
    font-size: 0.6em;
  }

  .technology {
    width: 20%;
    height: 17%;
    margin: 10px 5px;
  }

  .portfolio-item {
    position: relative;
    width: 100%;
    height: 400px;
    transition: 0.4s linear;
    text-align: center;
    border: 2px solid rgb(241, 241, 241);
  }

  .contact {
    margin: 1em auto;
  }

  .contact-list li {
    font-size: 1.2em;
    padding: 0.5em;
  }


}

@media(max-width: 450px) and (orientation: portrait) {

  #mobile-menu {
    top: 0.5em;
  }

  .show:first-child {
    margin-top: 20vh;
  }

  .conatiner-about-me {
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
    margin: 0 auto;
  }

  .about-me-text {
    font-size: 1em;
    margin: 0 auto;
  }


  .container-img img {
    width: 200px;
    height: 250px;
  }

  .technology p {
    font-size: 0.6em;
  }

  .technology {
    width: 20%;
    height: 17%;
    margin: 10px 5px;
  }

  .portfolio-item {
    position: relative;
    width: 100%;
    height: 400px;
    transition: 0.4s linear;
    text-align: center;
    border: 2px solid rgb(241, 241, 241);
  }

  .contact {
    margin: 1em auto;
  }

  .contact-list li {
    font-size: 1.2em;
    padding: 0.5em;
  }
}

@media(max-width: 380px) and (orientation: portrait) {


  .show:first-child {
    margin-top: 35vh;
  }

  .conatiner-about-me {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .about-me {
    margin-top: 0;
  }

  .about-me-text {
    width: 90%;
    font-size: 0.8em;
    margin: 10px auto;
  }

  .container-img img {
    width: 150px;
    height: 190px;
  }

  .container-img {
    margin: 10px auto;
  }

  .technology {
    width: 40%;
    height: 20%;
    margin: 10px 5px;
  }
}

@media(max-width: 375px) and (orientation: portrait) {
  .container-img img {
    width: 150px;
    height: 200px;
  }

  .conatiner-about-me {
    height: 100vh;
  }

  .show:first-child {
    margin-top: 20vh;
  }

  .about-me-text {
    font-size: 0.9em;
  }

}

@media(max-width: 360px) and (orientation: portrait) {

  .conatiner-about-me {
    height: 90vh;
  }


  .about-me-text {
    font-size: 0.9em;
  }

}

@media(max-width: 320px) and (orientation: portrait) {

  .show:first-child {
    margin-top: 35vh;
  }

  .about-me {
    margin-top: 0;
  }

  .about-me-text {
    width: 95%;
    font-size: 0.8em;
  }

  .container-img img {
    width: 120px;
    height: 140px;
  }
}