.btn-top-container {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, 15%);
  @include small-landscape {
    bottom: -50%;
    transform: translate(-50%, 35%);
  }
  @include medium {
    bottom: -50%;
    transform: translate(-50%, 25%);
  }

  @include medium-portrait {
    bottom: 0;
    transform: translate(-50%, -15%);
  }

  .btn-top {
    @include btn-scroll;

    i {
      @include btn-icon;
    }
  }
}
