.contact {
  padding-bottom: $padding-top-s;
  background: $gold;
  padding-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;

  @include medium {
    padding-bottom: $padding-top-m;
  }

  .contact-container {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    @include medium {
      flex-direction: row;
    }

    &:before {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      background-image: url(https://cdn.pixabay.com/photo/2015/10/03/14/51/autumn-969929_960_720.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      filter: blur(10px);
    }
  }

  .form-container {
    width: 400px;
    max-width: 100%;
    min-height: 350px;
    padding: 80px 40px;
    background: linear-gradient(to right, rgba(151, 0, 1, 0.5), rgba(151, 0, 1, 0.5)), url(https://cdn.pixabay.com/photo/2015/10/03/14/51/autumn-969929_960_720.jpg) no-repeat fixed center;
    background-size: cover;
    border-radius: 5px;
    margin: 0 auto;

    @media medium {
      width: 47%;
    }

    p {
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: $gold;
      margin-top: 10px;
    }

    input {
      width: 100%;
      margin-bottom: 20px;
    }

    input[type=text],
    input[type=email],
    textarea,
    select {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: $oatmeal;
      font-size: 16px;


      &:focus {
        outline: none;
        background: transparent;
        box-shadow: 0 0 23px -2px rgba(193, 47, 105, 0.5);
      }

    }

    textarea {
      width: 100%;
      height: 100px;
      margin-top: 10px;
    }

    option {
      background-color: $wine-color;
      outline: none;
      height: 40px;
    }

    input[type=submit] {
      height: 30px;
      color: $gold;
      font-size: 15px;
      background: $darkRed;
      cursor: pointer;
      border-radius: 25px;
      border: none;
      outline: none;
      margin-top: 15%;
    }

    .response {
      color: $gold;
    }

  }



  // .contact-form {
  //   width: 50%;
  //   margin: 0 auto;
  //   padding: 0 30px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-evenly;
  //   position: relative;
  //   background-color: violet;
  //   top: 0;
  //   left: 0;
  //   transform: translate(-50%, -50%);

  //   @include medium {
  //     flex-direction: row;
  //   }

  //   input,
  //   textarea,
  //   select {
  //     width: 100%;
  //     display: block;
  //     margin: 0;
  //     border: 1px solid $darkRed;
  //     letter-spacing: 1.1px;
  //     border-radius: 5px;
  //     padding: 5px;

  //     &:focus {
  //       outline: none;
  //       background: transparent;
  //       box-shadow: 0 0 23px -2px rgba(193, 47, 105, 0.5);
  //     }

  //     &:valid {
  //       border: 2px solid $darkRed;
  //     }
  //   }

  //   select {
  //     margin-top: 20px;
  //   }

  //   .submit-btn {
  //     @include btn;
  //     margin: 15px auto;
  //     position: absolute;
  //     bottom: -20;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     font-size: 20px;
  //   }
  // }



  .title {
    @include title;
  }

  .subtitle {
    @include subtitle;
  }



  .contact-details {
    width: 100%;


    @include medium {
      width: 47%;

      margin: 0 auto;
    }
  }

  .list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 100%;
    text-align: center;
    padding-top: 30px;

    a {
      padding-bottom: 15px;
      font-size: 20px;

      @include xsmall {
        font-size: 25px;
      }

      @include xmedium {
        font-size: 30px;
      }

      @include large {
        font-size: 35px;
      }
    }
  }

  .item-icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: $text-color;
    border: 2px solid $darkRed;
    border-radius: 50%;
    position: relative;
    line-height: 50px;
    margin-top: 50px;
    z-index: 1;



    @include xsmall {
      width: 80px;
      height: 80px;
      line-height: 80px;
    }

    @include xmedium {
      width: 100px;
      height: 100px;
      line-height: 100px;
    }

    // @include medium {
    //   width: calc(100% / 3 - 20px);
    // }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $darkRed;
      transition: all .5s;
      border-radius: 50%;
      z-index: 0;
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
      transform: scale(0.8);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: all .5s;
      border-radius: 50%;
      z-index: -1;
      opacity: 0;
      box-sizing: border-box;
      border: 2px dashed $darkRed;
    }

    &:hover:after {
      opacity: 1;
      animation: iconAnim 10s linear infinite;
    }
  }

  .item-icon:not(:first-child) {
    margin: 20px 15px;
  }

  .link {
    color: $wine-color;
    font-size: 28px;
    z-index: 1;

    @include xsmall {
      font-size: 38px;
    }

    @include xmedium {
      font-size: 48px;
    }

    i {
      padding-bottom: 15px;
      cursor: pointer;
    }

    i:hover {
      color: white;
    }
  }


}