.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 8px 16px;
  font-family: "Poppins", "Roboto", Arial, sans-serif;
  background-color: transparent;
  z-index: 999;

  @include medium {
    flex-direction: row;
    background-color: transparent;
  }

  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include medium {
      width: 40%;
    }
  }

  .logo {

    padding-top: .7rem;
    padding-bottom: .7rem;
    font-weight: bold;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -2;
    color: $gold;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;

  }

  .mobile-menu {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $gold;
    cursor: pointer;

    @include xxsmall {
      font-size: 1.2rem;
    }

    @include medium {
      display: none;

    }
  }

  .fa-times {
    display: none;
  }


  .navbar {
    width: 60vw;
    align-items: center;
    transform: translateX(-150%);
    height: 100vh;
    background: linear-gradient(to left, $wine-color, $darkRed);
    transition: transform 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;

    @include medium {
      padding-top: 0;
      margin-top: 0;
      position: relative;
      height: fit-content;
      width: 60%;
      transform: translateX(0);
      background: transparent;
      height: 100%;
    }

    @include large {
      width: 50%;
    }

  }



  .list-items {
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;



    @include medium {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding-left: 0;
    }


  }

  .nav-link {
    font-size: 24px;
  }

  .is-active {
    display: flex;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 30px;
    text-align: right;
    align-items: flex-start;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border-right: 5px;
    z-index: 9999;

  }

  .hide {
    display: none;
  }

  .show {
    display: inline-block;
  }

  .item {
    padding-bottom: 20px;


    @include medium {
      padding-bottom: 0;
    }
  }

  .nav-link {
    position: relative;
    font-size: 24px;
    line-height: 1.8rem;
    padding-bottom: 2px;
    font-weight: 400;
    color: $gold !important;

    @include medium {
      color: $wine-color;
    }

    @include large {
      font-size: 20px;
      line-height: 2rem;
    }

    @include xlarge {
      font-size: 24px;
      line-height: 2.2rem;
    }
  }

  .nav .hash-link {
    font-size: 16px;
    line-height: 1.8rem;
    color: $gold;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;

  }


  .link-button {
    border: none;
    font-size: 16px;
    padding: 5px;
    font-weight: 700;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    text-align: center;
  }

  #pl-btn {
    background-image: url(".././svg/flag.webp");
  }

  #eng-btn {
    background-image: url(".././svg/uk.webp");
    display: none;
  }

  & .active {
    background: none;
    position: relative;
    color: $darkRed;


    &::after {
      position: absolute;
      content: '';
      height: 4px;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      background-color: $darkRed;
      transition: .8s ease-out all .1s;

      @include medium {
        background-color: $gold;
      }

    }

    &:hover::after {
      width: 100%;
    }
  }

  .side-nav a {
    text-transform: uppercase;
  }


  .side-nav li:hover {
    color: #fff;
  }


  .side-nav li a:hover {
    color: #fff;
  }
}

.project-desc-page header {
  height: 60px;
  background-color: $darkRed;
}