.portfolio {
  padding: $padding-top-s 0;

  @include medium {
    padding: $padding-top-m 0;
  }

  .title {
    @include title;
  }

  .projects-container {
    width: 100%;
    display: grid;
    grid-gap: 50px 10px;
    grid-template-columns: [start] auto [col-1] 90% [end] auto;
    grid-template-rows: [start] 450px [row-1] 450px [row-2] 450px [row-3] 450px [row-4] 450px [row-5] 450px [end];

    // &:hover {
    //   .project {
    //     filter: blur(5px);
    //     opacity: 0.9;
    //     transform: scale(0.95);
    //     box-shadow: none;
    //     margin: 20px auto;
    //     position: relative;

    //     &:hover {
    //       transform: scale(1);
    //       filter: blur(0);
    //       opacity: 1;
    //       box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.125);
    //       border: 2px solid $darkRed;
    //     }
    //   }
    // }

    @include xxsmall {
      grid-template-rows: [start] 400px [row-1] 400px [row-2] 400px [row-3] 400px [row-4] 400px [row-5] 400px [end];
    }

    @include xsmall {
      margin: 0 auto 60px auto;
    }



    @include small-portrait {

      grid-gap: 50px 20px;
      grid-template-rows: [start] 270px [row-2] 350px [row-3] 270px [end];
    }

    @include medium {

      grid-template-rows: [start] 400px [row-2] 400px [row-3] 400px [end];
    }

    @include large {
      grid-template-columns: [start] auto [col-2] 30% [col-3] 10% [col-4] 40% [end] auto;
      grid-gap: 50px 40px;
    }
  }

  .project {
    height: 100%;
    display: flex;
    text-align: center;
    grid-column-start: col-1;
    grid-column-end: end;
    position: relative;
    border: 1px solid #f6f4f3;
    border-top-color: #fff;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 5px;
    padding: 7px;


    // &::before {
    //   border: 1px solid rgba($darkRed, .5);
    //   bottom: 15px;
    //   content: "";
    //   display: block;
    //   left: 11px;
    //   position: absolute;
    //   right: 11px;
    //   top: 15px;
    //   z-index: 2;
    //   background-color: rgba(0, 0, 0, 0.1);

    // }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 2;
      width: 100%;
      height: 100%;
    }

    // &::after {
    //   border: 1px solid rgba($darkRed, .5);
    //   bottom: 11px;
    //   content: "";
    //   display: block;
    //   left: 15px;
    //   position: absolute;
    //   right: 15px;
    //   top: 11px;
    //   z-index: 2;
    //   background-color: rgba(0, 0, 0, 0.1);
    // }


    .description-title {
      color: $darkRed;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: max-content;
      z-index: 5;
      font-weight: bold;
      letter-spacing: 2px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 2;
      padding: 15px 20px;


      &:hover {
        color: $gold;
        background-color: rgba(0, 0, 0, 0.2);
      }

      @include small-portrait {
        font-size: 24px;
      }

    }

    // @include xsmall {
    //   flex-direction: row;
    // }

    // @include small-portrait {
    //   flex-direction: column;
    // }

    // @include medium {
    //   flex-direction: column;
    // }

    .project-link {
      height: 100%;
      width: 70%;
      position: relative;



      // @include xsmall {
      //   height: 100%;
      //   width: 40%;
      // }

      // @include small-portrait {
      //   height: 50%;
      //   width: 100%;
      // }

      // @include medium {
      //   height: 50%;
      //   width: 100%;
      // }
    }


    img {
      width: 100%;
      height: 100%;
    }

    .project-description {
      height: 100%;
      width: 30%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($oatmeal, 0.5);
      overflow: hidden;

      // @include xsmall {
      //   height: 100%;
      //   width: 60%;
      // }


      // @include small-portrait {
      //   height: 50%;
      //   width: 100%;
      // }

      // @include medium {
      //   height: 50%;
      //   width: 100%;
      // }
      .see-options {
        ul>li {
          padding: 10px 10px;
        }

        ul>li>a {
          display: block;
          color: $darken;
        }

        ul>li>a>i {
          cursor: pointer;
          transition: all 0.5s ease-in;
          display: block;
          font-size: 35px;
          position: relative;
          z-index: 10;
          transition: all 0.2s ease-in;
          padding: 2px 0;
          color: $darkRed;

          &:hover {
            color: $gold;
            transform: scale(1.2);
          }
        }

      }



      .content {
        font-size: 14px;

        @include large {
          font-size: 16px;
        }
      }

      .subtitle {
        color: $darkRed;
      }

      .stack-item {
        display: inline;
        margin-right: 5px;
      }
    }


    @include large {
      &:first-child {
        grid-column-start: col-2;
        grid-column-end: col-4;
        grid-row-start: start;
        grid-row-end: row-2;


      }

      &:nth-of-type(2) {
        grid-column: col-4;
      }

      &:nth-of-type(3) {
        grid-column-start: col-2;
        grid-column-end: col-4;
      }

      &:nth-of-type(4) {
        grid-column: col-4;

      }

      &:nth-of-type(5) {
        grid-column: col-2;
        grid-column-end: col-4;
      }

      &:last-child {
        grid-column-start: col-4;
      }
    }

    @include large {

      &:first-child,
      &:nth-child(3) {
        flex-direction: row;

        .project-link {
          width: 60%;
          height: 100%;
        }

        .project-description {
          width: 40%;
          height: 100%;
        }
      }



    }
  }




  .btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .btn {
    @include btn;

    i {
      @include icon;
      font-weight: normal;
    }
  }
}