$font-primary: 'Poppins',
Arial,
sans-serif;

$white: #fff;
$black: #111;
$darken: #232931;
$darkRed: #970001;
$wine-color: #722f37;
$light-pink:#eeded7;
$text-color:#727272;

$padding-top-s: 50px;
$padding-top-m: 100px;