$font-primary: 'Poppins',
Arial,
sans-serif;

$white: #fff;
$black: #111;
$darken: #323030;
// $darken: #232931;
// $cinder: #323030;
$darkRed: #970001;
$wine-color: #722f37;
$light-pink:#eeded7;
$text-color:#727272;
// $gold: #C29545;
$gold: #FCC875;
$oatmeal: #CDBEA7;
$burgundy: #882426;
$padding-top-s: 50px;
$padding-top-m: 100px;