<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="contain description of Act Outs project created as a Wordpress page." />
    <meta name="keywords" content="frontend, junior, web-developer, wordpress, html, css, javascript, entry-level" />
    <title>Act Outs project description</title>
    <link rel="stylesheet" href=".././main.css">
</head>

<body id="body">
    <div class="wrap project-desc-page">
        <header>
            <nav class="nav" id="ftco-navbar">
                <div class="container">
                    <a class="logo" href="index.html">Kamila</a>
                    <h3 class="mobile-menu" data-toggle="collapse" data-target="#nav-icon" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span><i class="fa fa-bars"></i><i class="fa fa-times"></i></span> MENU </h3>
                </div>
                <div class="navbar" id="nav-links">
                    <ul class="list-items">
                        <li class="item">
                            <a id="about_id" href="./index.html#about-me" class="scrollTo link nav-link">About</a>
                        </li>
                        <li class="item">
                            <a id="skills_id" href="./index.html#skills" class="scrollTo link nav-link">Skills</a>
                        </li>
                        <li class="item">
                            <a id="portfolio_id" href="./index.html#portfolio"
                                class="scrollTo link nav-link">Portfolio</a>
                        </li>
                        <li class="item">
                            <a id="contact_id" href="./index.html#contact" class="scrollTo link nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="backdrop"></div>
            </nav>
        </header>
    </div>
    <main class="main single">
        <div class='description-project addColor'>

            <h1 class="description-title">Act Outs</h1>
            <div>
                <h4 class="tech-stack">Tech stack:</h4>
                <ul class="stack-items">
                    <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        Wordpress</li>
                    <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        PHP</li>
                    <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        CSS/SASS</li>
                    <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        Java Script / jQuery</li>
                    <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        JSON</li>


                </ul>

                <article class="content en" id="content_devnotes_id">
                    <header><span>ENG</span>
                        <h2> Description</h2>
                    </header>
                    <p>This is a project for client, who wanted to have dynamic page for his own business. I decided to
                        created it in Wordpress, to have ability to add dynamic new lessons, events with text, photos
                        and
                        videos.</p>
                    <p>I build own theme which contain:</p>
                    <ol>
                        <li>Header with Logo and menu (mobile menu)</li>
                        <li>
                            <p>Front Page with sections:</p>
                            <ul class="sub-list">
                                <li> Section gallery slider (ability to add / change 4 images).</li>
                                <li> Section welcome with featured picture and text.</li>
                                <li>Section Featured Videos (displayed two pages with video)</li>
                                <li> Section about (by choosing one page). Contain text and featured image.</li>
                                <li> Section courses (by choosing 4 pages, contained video).</li>
                                <li> Section holiday Programs. Section is displayed as Slider. Programs added by custom
                                    post types. Contain featured images.</li>

                            </ul>
                        </li>
                        <li>Fourth Custom Archive Pages for each different group. Content is displayed for people who
                            are logged and have added role. </li>
                        <li>One Page with the calendar. In the calendar, events are automatically added from the event
                            post type. When a user wants to add event need to write the date of the event in an advanced
                            custom field. Also can add the colour of event, short description, tick if wants to display
                            details as a popper in the calendar, choose priority of events (if events have the same
                            dates). For this, I create WP json router, and used json to get data and added into
                            js-year-calendar function. The calendar which I used it is from an open source from <a
                                href="https://github.com/year-calendar/js-year-calendar">github</a>. </li>
                        <li>Footer - User can add 4 widgets to footer.</li>
                        <li>
                            <p>Also theme has: </p>
                            <ul class="sub-list">
                                <li>Two Sidebars</li>
                                <li>Extra widgets for Holiday Programs, which can be added to sidebar. Widget display
                                    just 4 earliest planned programs. </li>
                                <li>Extra widgets for social links (4).</li>
                            </ul>
                        </li>
                    </ol><br>
                </article>
                <article class="content pl">
                    <header>
                        <span>PL</span>
                        <h2>Opis</h2>
                    </header>
                    <p>Projekt utworzony dla klienta, który chciał mieć dynamiczną stronę dla własnych celów. Stronę
                        utworzyłam w Wordpresie, w celu zapewnienia możliwości łatwego dodawania lekcji, wydarzeń z
                        tekstem, zdjęciami, plikami video.</p>
                    <p>Zbudowałam motyw, który zawiera.</p>
                    <ol>
                        <li>Header z logo oraz menu </li>
                        <li>
                            <p>Strona główna z sekcjami:</p>
                            <ul class="sub-list">
                                <li>Sekcja – slider ze zdjęciami (możliwość dodawania zmieniania 4 zdjęć).</li>
                                <li>Sekcja – powitalna z tekstem oraz zdjęciem</li>
                                <li>Sekcja about – informacja o stronie (wybranie strony )</li>
                                <li>Sekcja "Featured Videos", dwa posty z video.</li>
                                <li>Sekcja możliwe kursy (możliwość wybrania z czterech stron zawierających video).</li>
                                <li>Sekcja – wydarzenia. Wydarzenia są dodawane poprzez własny typ postów (event)</li>
                            </ul>
                        </li>
                        <li>Cztery typy własnych stron (archive pages). Każda strona przeznaczona jest dla osobnej grupy
                            docelowej. Informacje stron są wyświetlane dla osób które są zalogowane i mają określoną
                            rolę użytkownika do wyświetlania informacji. </li>
                        <li>Strona z kalendarzem. Do kalendarza dodawane są wydarzenia z własnego typu postów,
                            "event". Jeśli użytkownik chce dodać wydarzenie do kalendarza musi dodać datę w ACF (advance
                            custom fields) Może również dodać opis, color wydarzenia, czy wyświetlać informacje jako
                            popper (chmurka) na kalendarzu, oraz wybrać priorytet wydarzenia (w przypadku gdy daty się
                            powielają).
                            Do tego celu utworzyłam json route w celu wykorzystania json dla kalendarza
                            js-year-calendar. Kalendarz pobrałam z open source na <a
                                href="https://github.com/year-calendar/js-year-calendar">githubie.</a> Kalendarz
                            dostosowałam do potrzeb strony.</li>
                        <li>Stopka, użytkownik może dodać cztery widgety do stopki. </li>
                        <li>Sidebar - również strona posiada dwa sidebar’y, oraz dodatkowy widget dla wydarzeń
                            (wyświetlanie 3 najwcześniejszych wydarzeń)</li>
                        <li>Dodatkowy widget z wybraniem "social links" (4 linki z ikonami)</li>
                    </ol><br>

                </article>
                <article class="content">
                    <header><h2>Plugins List</h2></header>
                    <ul class="sub-list">
                        <li>Advanced Custom Fields</li>
                        <li>GDPR Cookie Consent</li>
                        <li>	
                            LiteSpeed Cache</li>
                            <li>Members</li>
                            <li>UpdraftPlus - Backup/Restore</li>
                            <li>Yoast SEO</li>
                            <li>	
                                WP PayPal</li>
                    </ul>
                </article>
                <a href="https://actouts.com/" title="see demo">
                    <div class="demo-gif">
                        <h2>Demo</h2>
                        <div class="demo-gif-container">
                            <div class="demo-img">
                                <img src="../demo/actouts.gif" alt="act-outs-demo">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>


</html>