<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description"
        content="contain description of Act Outs project created as a Wordpress page." />
    <meta name="keywords"
        content="frontend, junior, web-developer, wordpress, html, css, javascript, entry-level" />
    <title>Act Outs project description</title>
</head>
<body id="body">
<div class="wrap project-desc-page">
    <header>
        <nav class="nav" id="ftco-navbar">
            <div class="container">
                <a class="logo" href="index.html">Kamila</a>
                <h3 class="mobile-menu" data-toggle="collapse" data-target="#nav-icon" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span><i class="fa fa-bars"></i><i class="fa fa-times"></i></span> MENU </h3>
            </div>
            <div class="navbar" id="nav-links">
                <ul class="list-items">
                    <li class="item">
                        <a id="about_id" href="./index.html#about-me" class="scrollTo link nav-link">About</a>
                    </li>
                    <li class="item">
                        <a id="skills_id" href="./index.html#skills" class="scrollTo link nav-link">Skills</a>
                    </li>
                    <li class="item">
                        <a id="portfolio_id" href="./index.html#portfolio" class="scrollTo link nav-link">Portfolio</a>
                    </li>
                    <li class="item">
                        <a id="contact_id" href="./index.html#contact" class="scrollTo link nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="backdrop"></div>
        </nav>
    </header>
</div>
<main class="main">
    <div class='description-project addColor'>

        <h1 class="description-title">Act Outs</h1>
        <div>
            <h4 class="tech-stack">Tech stack:</h4>
            <ul class="stack-items">
                <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    PHP</li>
                <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    CSS/SASS</li>
                <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    Java Script / jQuery</li>
                <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    Wordpress</li>
            </ul>

            <article class="content en" id="content_devnotes_id">
                <header><span>ENG</span>
                    <h4> Description</h4>
                </header>
                <p>This is a project for client, who wanted to have dynamic page for his own business. I decided to
                    created it in Wordpress, to have ability to add dynamic new lessons, events with text, photos and
                    videos.</p>
                <p>I build own theme which contain:</p>
                <ol>
                    <li>1. Header with Logo and menu (mobile menu)</li>
                    <li>2. Front Page with sections:
                        <ul class="sub-list">
                            <li> Section gallery slider. (ability to add / change 4 images)</li>
                            <li> Section welcome with video.</li>
                            <li> Section courses (by choosing 4 pages).</li>
                            <li> Section events. Events added by custom post type events.</li>
                            <li> Section message (by choosing one page)</li>
                        </ul>
                    </li>
                    <li>3. Fourth Custom Archive Pages for each different group. Content is displayed for people who are logged and have added role. </li>
                    <li>4. One Page with calendar. In calendar, events are automatically added from event post type. When user want to add event need to write date of event in advanced custom field. Also can add color of event, type, and short description. For this I added new router, and used json to get data and added into evocalendar function. The calendar which I used it is from open source from <a href="https://edlynvillegas.github.io/evo-calendar/">github</a>. I customized it for this   website needs. </li>
                    <li>5.Footer - User can add 4 widgets to footer.</li>
                    <li>6. Also theme has: 
                      <ul class="sub-list">
                        <li>Two Sidebar</li>
                        <li>Extra widgets for events, which can be added to sidebar. Widget display just 3 earliest planned events. </li>
                      </ul>
                    </li>
                </ol><br>
                <p class="info">Website is still in build. This version is for test and for client view. </p>
            </article>
            <article class="content pl">
                <header>
                    <span>PL</span>
                    <h4>Opis</h4>
                  </header>
                    <p>Projekt utworzony dla klienta, który chciał mieć dynamiczną stronę dla własnych celów. Stronę utworzyłam w Wordpresie, w celu zapewnienia możliwości łatwego dodawania lekcji, wydarzeń z tekstem, zdjęciami, plikami video.</p>
                    <p>Zbudowałam motyw, który zawiera.</p>
                    <ol>
                        <li>1. Header z logo oraz menu </li>
                        <li>2. Strona główna z sekcjami:</li>
                        <ul class="sub-list">
                          <li>Sekcja – slider ze zdjęciami (możliwość dodawania zmieniania 4 zdjęć).</li>
                          <li>Sekcja – powitalna z plikiem wideo.</li>
                          <li>Sekcja możliwe kursy (możliwość wybrania czterech stron, do sekcji zostanie dodane video).</li>
                          <li>Sekcja – wydarzenia. Wydarzenia są dodawane poprzez własny typ postów (event)</li>
                          <li>Sekcja wiadomość – informacja o stronie (wybranie strony )</li>
                        </ul>
                        <li>3. Cztery typy własnych stron (archive pages). Każda strona przeznaczona jest dla osobnej grupy docelowej. Informacje stron są wyświetlane dla osób które są zalogowane i mają określoną rolę użytkownika do wyświetlania informacji. </li>
                        <li>4. Strona z kalendarzem. Do kalendarza dodawane są wydarzenia z własnego typu postów ,, event”. Jeśli użytkownik chce dodać wydarzenie do kalendarza musi dodać datę w ACF (advance custom fields) Może również dodać opis, color wydarzenia, typ wydarzenia. Do tego celu utworzyłam custom url route w celu wykorzystania json dla  kalendarza evo-calendar. Kalendarz pobrałam z open source na <a href="https://edlynvillegas.github.io/evo-calendar/">githubie.</a>  Kalendarz dostosowałam do potrzeb strony.</li>
                          <li>5. Stopka, użytkownik może dodać cztery widgety do stopki. </li>
                          <li>6. Sidebar - również strona posiada dwa sidebar’y, oraz dodatkowy widget dla wydarzeń (wyświetlanie 3 najwcześniejszych wydarzeń)</li>
                    </ol><br>
                    <p class="info">Strona jest wciąż w budowie. Obcnie jest to wersja testowa do wglądu dla klienta.</p>
              
            </article>
            <div> <a href="https://github.com/KamilaDyn/act-outs-theme">
                    <h3 class="code-link">See code on github <i class="fa fa-code" aria-hidden="true"></i></h3>
                </a></div>
            <a href="http://ow4481.wsbpoz.solidhost.pl/actouts/">
                <div class="demo-gif">
                    <h3>Demo</h3>
                    <div class="demo-gif-container">
                        <div class="demo-img">
                            <img src="../demo/act-outs1.gif" alt="act-outs-demo">
                        </div>
                  </div>
                </div>
            </a>
        </div>
    </div>
</main>
</body>


</html>