<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="description" content="junior Fronted developer - strona portfolio stworzona do pokazania projektów w dziedzinie fronendu. "/>
  <meta name="keywords" content="frontend, junior, web-developer, wordpress, html, css, seo, react, javascript, entry-level, początki pracy, programista, programowanie, bootsrap4"/>
  <title>Kamila Dynysiuk - Junior Fronted Developer</title>

  <!-- fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700%7CRoboto:300,300i,400,500,700&display=swap"
    rel="stylesheet" />
</head>

<body id="body">
  <div class="wrap">
    <nav class="nav" id="ftco-navbar">
      <div class="container">
        <a class="logo" href="index.html">Kamila</a>
        <h3 class="mobile-menu" data-toggle="collapse" data-target="#nav-icon" aria-expanded="false"
          aria-label="Toggle navigation">
          <span><i class="fas fa-bars"></i><i class="fas fa-times"></i></span>
          MENU
        </h3>
      </div>
      <div class="navbar" id="nav-links">
        <ul class="list-items">
          <li class="item">
            <a id="about_id" href="#about-me" class="scrollTo link nav-link">About</a>
          </li>
          <li class="item">
            <a id="skills_id" href="#skills" class="scrollTo link nav-link">Skills</a>
          </li>
          <li class="item">
            <a id="portfolio_id" href="#portfolio" class="scrollTo link nav-link">Portfolio</a>
          </li>
          <li class="item">
            <a id="contact_id" href="#contact" class="scrollTo link nav-link">Contact</a>
          </li>
          <li class="item" id="pl-lang">
            <a href="#pl" id="pl-btn" class="hash-link link-button" data-reload>Pl
            </a>
            <a href="#eng" id="eng-btn" class="hash-link link-button" data-reload>Eng
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <header id="header" class="header overlay">
      <div class="text">
        <h1 id="welcome_id" class="title">Hello world! I'm Kamila</h1>
        <h2 class="subtitle">Junior Frontend Developer</h2>
        <h3 class="sub-description" id="looking_id">
          I am looking for a job.
        </h3>
      </div>
    </header>
    <div class="btn-top-container">
      <a class="scrollTo btn-top" href="#about-me"><i class="fas fa-arrow-down"></i></a>
    </div>
  </div>
  <main class="main">
    <section id="about-me" class="about-me">
      <div class="img-container">
        <img src="../images/pics2.jpg" alt="profile image" />
      </div>

      <div class="text-container">
        <div class="text">
          <h2 id="aboutMe_id" class="title">About me</h2>
          <p id="description_id" class="description">
            I have finished study at University and I worked with children and
            disabled people. In 2018 year, I started my adventure with
            programming language, in the beginning it was just a new hobby
            that I would like to transform into a daily-work. Mostly, I am
            self-taught person, I've got to know how to write code in HTML,
            CSS(Sass), JavaScript and frameworks such as Bootstrap, jQuery and
            React. To learn new technology I use to do it via online courses
            on Udemy, eduweb.pl and Free Code Camp. I read blogs, articles and
            books about programming. I have finished postgraduate study
            specialty <strong>web and mobile application</strong>. During the
            study I strengthened knowledge of Fronted developer language and
            learned CMS - (wordpress, drupal, prestashop), mySQL, PHP and got
            basic knowledge how to create mobile application in Android
            Studio. I am aware that developer’s life is not a piece of cake,
            especially for junior but I am ready to do the best I can. I am
            junior at entry level but meanwhile you are reading this, I am
            learning something new.
          </p>
        </div>
        <div class="personal-info">
          <h2 id="personal_inf_id" class="title">Personal Information</h2>
          <ul class="list-items">
            <li class="item">
              <span id="name_id">Name:</span> Kamila Dynysiuk
            </li>
            <li class="item">
              <span id="citizenship_id"> Citizenship:</span>
              <span id="polish_id"> Polish</span>
            </li>
            <li class="item">
              <span>E-mail:</span> kamila.dynysiuk@gmail.com
            </li>
          </ul>
        </div>

        <div class="resume-container">
          <a class="resume-btn-link resume-btn" target="_blank" href=".././pdf/k.dynysiuk_cv(eng).pdf" title="cv in english" download="cv"><i
              class="far fa-file-pdf"></i>

            Resume-eng</a>
          <a class="resume-btn-link resume-btn" target="_blank" href=".././pdf/k.dynysiuk_cv(pl).pdf"
            download="cv-pl" title="cv in polish"><i class="far fa-file-pdf"></i>

            Resume-pl</a>
        </div>
      </div>
    </section>

    <section id="skills" class="skills">
      <div class="text">
        <h2 id="mySkills_id" class="title">My Skills</h2>
      </div>

      <div class="skill-technologies">
        <div class="technologie">
          <div class="progress">
            <span class="progress-name">HTML & CSS + SASS(BEM)</span>
            <span class="progress-number">80%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-procent html"></div>
          </div>
        </div>

        <div class="technologie">
          <div class="progress">
            <span class="progress-name">Bootsrap 4</span>
            <span class="progress-number">80%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-procent bootstrap"></div>
          </div>
        </div>

        <div class="technologie">
          <div class="progress">
            <span class="progress-name">JavaScript & jQuery</span>
            <span class="progress-number">60%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-procent js"></div>
          </div>
        </div>

        <div class="technologie">
          <div class="progress">
            <span class="progress-name">React & Node.js & Express</span>
            <span class="progress-number">50%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-procent react"></div>
          </div>
        </div>
        <div class="technologie">
          <div class="progress">
            <span class="progress-name">Wordpress,PHP, mySQL</span>
            <span class="progress-number">50%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-procent php"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="tool" class="tool">
      <div class="text">
        <h2 id="tools_id" class="title">Tools</h2>
      </div>
      <div class="tools">
        <ul class="tools-list">
          <li class="tool-icon">
            <i class="icon-svg"><img class="icon-img" src=".././svg/git.svg" alt="git" /></i>
            <p class="icon_caption">git</p>
          </li>
          <li class="tool-icon">
            <i class="icon-svg"><img class="icon-img" src=".././svg/npm.svg" alt="postman" /></i>
            <p class="icon_caption">npm</p>
          </li>
          <li class="tool-icon">
            <i class="icon-svg"><img class="icon-img" src=".././svg/vsc.svg" alt="VSC" /></i>
            <p class="icon_caption">VSC</p>
          </li>
          <li class="tool-icon">
            <i class="icon-svg"><img class="icon-img" src=".././svg/storybook.svg" alt="book" /></i>
            <p class="icon_caption">storybook</p>
          </li>

          <li class="tool-icon">
            <i class="icon-svg"><img class="icon-img" src=".././svg/figma.svg" alt="figma" /></i>
            <p class="icon_caption">figma</p>
          </li>
          <li class="tool-icon">
            <i class="icon-svg"><img class="icon-img" src=".././svg/webpack.svg" alt="figma" /></i>
            <p class="icon_caption">webpack</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- portfolio -->
    <section id="portfolio" class="portfolio">
      <div class="text">
        <h2 id="myProjects_id" class="title">My Projects</h2>
      </div>
      <div class="projects-container">
        <div class="project">
          <a class="project-link" href="https://kamiladyn.github.io/my-dev-notes/#/notes" target="_blank" title="project in React">
            <img data-src=".././images/devnotes.jpg" alt="react devnotes" src="#" class="lazy" />
          </a>

          <div class="project-description">
            <h3 class="description-title">My Dev Notes</h3>
            <p class="content" id="content_devnotes_id">
              App created during course 'React from scrach' (by Adam Romański). The goals of this app is add simple
              notes, articles with
              links or write the planned projects. It was created for practice, how to use React and Redux in projects.
              It is not finished yet. I will write new elements and connect app to MongoDB.
            </p>
            <div>
              <h4 class="subtitle">Tech stack:</h4>
              <ul class="stack-items">
                <li class="stack-item">React /Redux</li>
                <li class="stack-item">CSS</li>
                <li class="stack-item">Storybook</li>
              </ul>
              <h5>Project in progress</h5>
            </div>
          </div>
        </div>
        <div class="project">
          <a class="project-link" href="https://customers-list-react.herokuapp.com/" target="_blank" title="project in React">
            <img data-src=".././images/customers-list.jpg" alt="list" src="#" class="lazy" /></a>
          <div class="project-description">
            <h3 class="description-title">Customers List</h3>
            <p class="content" id="content_customer_id">
              Small application written in React. I created it for one of
              challenge. It is application to manage list of users/customers.
              You can create/ add, delete or edit elements. It has backend in
              MongoDB.
            </p>
            <div>
              <h4 class="subtitle">Tech stack:</h4>
              <ul class="stack-items">
                <li class="stack-item">REACT</li>
                <li class="stack-item">CSS</li>
                <li class="stack-item">JS</li>
                <li class="stack-item">AXIOS</li>
                <li class="stack-item">mongoDB</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="project">
          <a class="project-link" href="https://kamiladyn.github.io/website-example3/" target="_blank" title="website example">
            <img alt="website-3" class="lazy"  data-src=".././images/website-example3.png"
              src="#" /></a>
          <div class="project-description">
            <h3 class="description-title">Website example</h3>
            <p class="content" id="web3_id">
              This website was built based on free template sketch. I used
              figma to open template. I have created this website just for
              practice my skills.
            </p>
            <div>
              <h4 class="subtitle">Tech stack:</h4>
              <ul class="stack-items">
                <li class="stack-item">HTML</li>
                <li class="stack-item">SASS</li>
                <li class="stack-item">JS</li>
                <li class="stack-item">FIGMA</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="project">
          <a class="project-link" href="https://kamiladyn.github.io/Travel-Notes/#/" target="_blank" title="project in React">
            <img data-src=".././images/TravelNotes.jpg" alt="travel app" src="#" class="lazy" />
          </a>

          <div class="project-description">
            <h3 class="description-title">Travel Notes</h3>
            <p class="content" id="notes_content_id">
              The goals of this app is to write your simple notes / plans for
              next travels, write and keep important links to website in one
              place. Or just add instagram accounts your favorites travelers.
            </p>
            <div>
              <h4 class="subtitle">Tech stack:</h4>
              <ul class="stack-items">
                <li class="stack-item">REACT</li>
                <li class="stack-item">SASS</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="project">
          <a class="project-link" href="https://kamiladyn.github.io/Collections_Books/" target="_blank" title="project in Js and API">
            <img alt="books" src="#" class="lazy" data-src=".././images/collections-books.png"  />
          </a>
          <div class="project-description">
            <h3 class="description-title">Collections Books</h3>
            <p class="content" id="books_content_id">
              Website created with using Google Books Api. You can looking for
              a book or magazines by typping author or title (or both). I set
              up session storage in this project to have "search history".
            </p>
            <div>
              <h4 class="subtitle">Tech stack:</h4>
              <ul class="stack-items">
                <li class="stack-item">HTML</li>
                <li class="stack-item">CSS</li>
                <li class="stack-item">JS</li>
                <li class="stack-item">API</li>
                <li class="stack-item">AXIOS</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="project">
          <a class="project-link" href="http://ow4481.wsbpoz.solidhost.pl/wordpress/" target="_blank" title="project with wordpress">
            <img data-src=".././images/wordpress.jpg" alt="wordprees web" src="#" class="lazy" />
          </a>

          <div class="project-description ">
            <h3 class="description-title ">Wordpress</h3>
            <p class="content" id="wordpress_id">
              Website with blog and shop created in Wordpress. It was a final assignment for study ‘web
              and mobile
              application’ for CMS section.
              What I included is: layout, newsletter, contact form, allows user to post comments, and
              WooCommerce for an
              online shop.
            </p>
            <div>
              <h4 class="subtitle">Tech stack:</h4>
              <ul class="stack-items">
                <li class="stack-item">Wordpress</li>
                <li class="stack-item">WooComerce-plugin</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a id="gitHub_button" class="btn" href="https://github.com/KamilaDyn?tab=repositories" target="_blank" title="got to github repo">
          <i class="fab fa-github-alt"></i>See more</a>
      </div>
    </section>
    <!-- contact section -->
    <section id="contact" class="contact">
      <h2 id="contact2_id" class="title">Contact</h2>
      <p id="end_subtitle_id" class="subtitle">
        Would you like to know me? <br />
        Do not wait any longer and contact with me &#128512;
      </p>
      <div class="contact-form">
        <div class="form-container">
          <h4 class="form-status"></h4>
          <h3 class="response"></h3>

          <!-- Contact form -->
          <form id="myForm" class="form" method="POST">
            <label class="label" for="name">Name</label>
            <input type="text" class="form-input" name="name" id="name" placeholder="enter your name"
              data-error="Write your name, please" autocomplete="off" />

            <select name="subject" id="subject" data-error="Choose the title">
              <option value="" disabled selected>- Title-</option>
              <option value="question">Question</option>
              <option value="job">Job</option>
              <option value="hello">Just say "Hello!"</option>
            </select>

            <label class="label" for="email">Email</label>
            <input type="email" class="form-input" name="email" id="email" placeholder="Write an email"
              data-error="It doesn't look like an email" autocomplete="off" />

            <label class="label" for="message">Message</label>
            <textarea class="form-input" name="message" id="message" rows="5" placeholder="Write message"
              data-error='Write your message, min 5 letters, like a "smile"'></textarea>

            <button class="submit-btn" type="submit">Send</button>
          </form>
        </div>
        <div class="contact-details">
          <ul class="list-items">
            <li class="item">
              <a class="link">kamila.dynysiuk@gmail.com</a>
            </li>
            <li class="item-icon">
              <a href="https://m.me/kamila.dynysiuk" class="link" title="contact via messenger"><i class="fab fa-facebook-messenger"></i></a>
            </li>
            <li class="item-icon">
              <a href="https://www.linkedin.com/in/kamila-d-489849180" title="link to linkedin" class="link">
                <i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="item-icon">
              <a href="https://github.com/KamilaDyn" class="link" title="link to github"><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <div class="wrap">
    <footer>
      <div class="btn-down-container">
        <a class="scrollTo btn-down" href="#body"><i class="fas fa-arrow-up"></i></a>
      </div>
      <div class="copyright">
        <h4>&copy;Kamila Dynysiuk</h4>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/751fa6a7c6.js"></script>
</body>

</html>