<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description"
        content="React app - created during course of React.  " />
    <meta name="keywords"
        content="frontend, junior, web-developer, wordpress, html, css, storybook, react, javascript, entry-level, początki pracy, programista, programowanie" />
    <title>My Notes</title>
</head>
<body id="body">
<div class="wrap project-desc-page">
    <header>
        <nav class="nav" id="ftco-navbar">
            <div class="container">
                <a class="logo" href="index.html">Kamila</a>
                <h3 class="mobile-menu" data-toggle="collapse" data-target="#nav-icon" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span><i class="fa fa-bars"></i><i class="fa fa-times"></i></span> MENU </h3>
            </div>
            <div class="navbar" id="nav-links">
                <ul class="list-items">
                    <li class="item">
                        <a id="about_id" href="./index.html#about-me" class="scrollTo link nav-link">About</a>
                    </li>
                    <li class="item">
                        <a id="skills_id" href="./index.html#skills" class="scrollTo link nav-link">Skills</a>
                    </li>
                    <li class="item">
                        <a id="portfolio_id" href="./index.html#portfolio" class="scrollTo link nav-link">Portfolio</a>
                    </li>
                    <li class="item">
                        <a id="contact_id" href="./index.html#contact" class="scrollTo link nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="backdrop"></div>
        </nav>
    </header>
</div>
<main class="main">
    <div class='description-project addColor'>

        <h1 class="description-title">My notes</h1>
        <div>
            <h4 class="tech-stack">Tech stack:</h4>
            <ul class="stack-items">
                <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    React /Redux</li>
                <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    CSS</li>
                <li class="stack-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    Storybook</li>
            </ul>
  
            <article class="content en" id="content_devnotes_id">
                <header><span>ENG</span>
                    <h4> Description</h4>
                </header>
                <p>I created this 'My Notes' App based on the course React from scratch (Adam Romański).  The goals of
                    this app is:</p>
                <ol>
                    <li> 1. Add simple notes (title, and description) </li>
                    <li>2. Add note of article with link to article (title of article, link to article and description)
                    </li>
                    <li>3. Write the planned projects (title of project, person who is responsible for it, and short description).</li>
                </ol>
                <p>Further I want to add more function like dates, login/ log out, form validation, search input and 
                    connect to Mongo DB (create backend).</p>
            </article>
            <article class="content pl">
                <header>
                    <span>PL</span>
                    <h4>Opis</h4>
                    <p>Utworzyłam aplikacje 'My Notes' na podstawie kursu React od podstaw (Adm Romański). Celem
                        aplikacji jest </p>
                    <ol>
                        <li>1. Dodanie prostej notatki (tytuł, opis)</li>
                        <li>2. Dodanie notatki o artykule z linkiem do artykułu (tytuł artykułu, link, opis artykułuu
                        </li>
                        <li>3. Napisanie zaplanowanego projektu (tytuł, wpisanie osoby odpowiedzialnej, krótki opis).
                        </li>
                    </ol>
                    <p>Do projektu chciałabym dodać funkcję dodania daty utworznia notatek, login do aplikacji, miejsce
                        wyszukiwania notatek oraz podłączyć aplikację do Mongo DB (utworzyć backend).</p>
                </header>
            </article>
            <div>    <a href="https://github.com/KamilaDyn/my-dev-notes"><h3 class="code-link" >See code on github <i class="fa fa-code" aria-hidden="true"></i></h3></a></div>
            <a href="https://kamiladyn.github.io/my-dev-notes/#/notes">
                <div class="demo-gif">
                    <h3>Demo</h3>
                    <div class="demo-gif-container">
                        <div class="demo-img">
                            <img src="../demo/react-notes-demo.gif" alt="react-notes-demo">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>


</body>


</html>