<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="Website created during study. It was just for assignment section of CMS " />
    <meta name="keywords"
        content="frontend, junior, web-developer, wordpress, html, entry-level, początki pracy, programista, cms, wordpress" />
    <title>Wordpress Fenix website description</title>
    <!-- fonts -->
</head>

<body id="body">
    <div class="wrap project-desc-page">
        <header>
            <nav class="nav" id="ftco-navbar">
                <div class="container">
                    <a class="logo" href="index.html">Kamila</a>
                    <h3 class="mobile-menu" data-toggle="collapse" data-target="#nav-icon" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span><i class="fa fa-bars"></i><i class="fa fa-times"></i></span> MENU </h3>
                </div>
                <div class="navbar" id="nav-links">
                    <ul class="list-items">
                        <li class="item">
                            <a id="about_id" href="./index.html#about-me" class="scrollTo link nav-link">About</a>
                        </li>
                        <li class="item">
                            <a id="skills_id" href="./index.html#skills" class="scrollTo link nav-link">Skills</a>
                        </li>
                        <li class="item">
                            <a id="portfolio_id" href="./index.html#portfolio"
                                class="scrollTo link nav-link">Portfolio</a>
                        </li>
                        <li class="item">
                            <a id="contact_id" href="./index.html#contact" class="scrollTo link nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="backdrop"></div>
            </nav>
        </header>
    </div>
    <main class="main">
        <div class='description-project addColor'>
            <h1 class="description-title">Wordpress Page 'Fenix'</h1>
            <p class="description-subtitle">Website based on free Wordpress theme Rara Themes - Education Zone <a
                    href="https://rarathemes.com/wordpress-themes/education-zone/">(link to theme)</a></p>
            <article class="content en" id="content_devnotes_id">
                <header><span>ENG</span>
                    <h4> Description</h4>
                </header>
                <p>Website created with Wordpress, based on Rara Theme - Education Zone. It was a
                    final assignment for a study 'web and mobile application'  CMS section.</p>
                <p>Website has a customized free theme Education Zone. The website has:</p>
                <ol>
                    <li>Comments section </li>
                    <li>Sidebar</li>
                    <li>Blog</li>
                    <li>Four pages with information </li>
                    <li>Online shop with registration, login and basket with products.</li>
                    <li>
                        <p>Plugins</p>
                        <ul class="sub-list">
                            <li>Contact Form 7</li>
                            <li>ReCaptcha v2 for Contact Form 7</li>
                            <li>Akismet antyspam</li>
                            <li>Jetpack z WordPress.com</li>
                            <li>Newsletter</li>
                            <li>WooCommerce</li>
                            <li>WooCommerce Admin</li>
                            <li>WooCommerce PayPal Checkout Gateway</li>
                            <li>WooCommerce Services</li>
                            <li>Yoast SEO</li>
                        </ul>
                    </li>
                </ol>
            </article>
            <article class="content pl">
                <header>
                    <span>PL</span>
                    <h4>Opis</h4>
                </header>
                <p>Storna internetowa, stworzona z wykorzystaniem Wordpressa, motyw Rara Theme- Education Zone.
                    Strona na potrzeby zaliczenia przedmiotu, na studia z zakresu aplikacje mobilne i internetowe
                    dla sekcji Zarządzanie treścią (CMS). </p>
                <p>Obecnie strona osiada dostosowany szablon Education Zone wersja darmowa. Strona posiada</p>
                <ol>
                    <li>Dostosowanie komentarzy do strony. </li>
                    <li>Sidebar </li>
                    <li>Blog</li>
                    <li>Cztery strony o działalności z informacjami.</li>
                    <li>Dostosowanie sklepu internetowego, utworzenie nowego konta w celu zakupów, możliwość
                        logowania do sklepu, koszyk zakupów. </li>
                    <li>
                        <p>Na stronie zostały wykorzystane wtyczki: </p>
                        <ul class="sub-list">
                            <li>Contact Form 7</li>
                            <li>ReCaptcha v2 for Contact Form 7</li>
                            <li>Akismet antyspam</li>
                            <li>Jetpack z WordPress.com</li>
                            <li>Newsletter</li>
                            <li>WooCommerce</li>
                            <li>WooCommerce Admin</li>
                            <li>WooCommerce PayPal Checkout Gateway</li>
                            <li>WooCommerce Services</li>
                            <li>Yoast SEO</li>
                        </ul>
                    </li>
                </ol>

            </article>
            <a href="http://ow4481.wsbpoz.solidhost.pl/wordpress/" title="see demo">
                <div class="demo-gif">
                    <h3>Demo</h3>
                    <div class="demo-gif-container">
                        <div class="demo-img">
                            <img src="../demo/fenix2.gif" alt="fenix-demo">
                        </div>
                    </div>
                    <div class="demo-gif-container">
                        <div class="demo-img">
                            <img src="../demo/fenix.gif" alt="fenix-demo">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </main>

</body>


</html>