<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description"
        content="Opis strony stworzonej dla wolontariuszy chcących pomóc seniorom w zakupach w czasie pandemii covid-19 " />
    <meta name="keywords"
        content="wordpress, junior, covid, wolnatriusz, senior, help, pomoc, zakupy, opis strony, theme" />
    <title>Zakupy dla seniora</title>

</head>

<body id="body">
    <div class="wrap project-desc-page">
        <header>
            <nav class="nav" id="ftco-navbar">
                <div class="container">
                    <a class="logo" href="index.html">Kamila</a>
                    <h3 class="mobile-menu" data-toggle="collapse" data-target="#nav-icon" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span><i class="fa fa-bars"></i><i class="fa fa-times"></i></span> MENU </h3>
                </div>
                <div class="navbar" id="nav-links">
                    <ul class="list-items">
                        <li class="item">
                            <a id="about_id" href="./index.html#about-me" class="scrollTo link nav-link">About</a>
                        </li>
                        <li class="item">
                            <a id="skills_id" href="./index.html#skills" class="scrollTo link nav-link">Skills</a>
                        </li>
                        <li class="item">
                            <a id="portfolio_id" href="./index.html#portfolio"
                                class="scrollTo link nav-link">Portfolio</a>
                        </li>
                        <li class="item">
                            <a id="contact_id" href="./index.html#contact" class="scrollTo link nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="backdrop"></div>
            </nav>
        </header>
    </div>
    <main class="main">
        <div class='description-project addColor'>
            <h1 class="description-title">Zakupy Dla Seniora Wordpress (Shopping for Seniors)</h1>
            <p class="description-subtitle">Website in child wordpress theme, based on free Firm Graphy Child Theme. <a
                    href="https://wordpress.org/themes/firm-graphy/">(link to theme)</a></p>
            <article class="content en">
                <header><span>ENG</span>
                    <h4> Description</h4>
                </header>
                <p>This website was created for postgraduate study mobile and web applications. It was created in
                    team
                    work (with 3 members). The goal of the website 'Zakupy Dla Seniora' (Shopping for Seniors), is
                    to
                    help make shopping for seniors who cannot do it by themselves during pandemia covid-19.</p>
                <p>Website has:</p>
                <ol>
                    <li>
                        <p>Front pages</p>
                        <ul>
                            <li>Section about us,</li>
                            <li>Section with information: links to shopping form, contact and description how the
                                help
                                look like.</li>

                        </ul>
                    </li>
                    <li>Page with form. It is for seniors who can fill it up and send. The data is sent to a
                        database
                        in mysql. Senior can put his name, address, and shopping list.</li>
                    <li>Page with map where are all orders which were not finalized. Map with orders  can be seen by
                        all users, but just logged users can see all data with name and address.</li>
                    <li>
                        <p>Section for volunteers with subpages:</p>
                        <ul>
                            <li>Registration page, who want to be a volunteer can register on the page but
                                administrators accept the person.</li>
                            <li>My account: Volunteer can login into account and change his own password.  </li>
                            <li>My orders: Volunteer who has an account can see all orders which he took to
                                accomplish.If a volunteer doesn't want to make an order can send it back to the
                                database.</li>
                            <li>All orders. Page where a volunteer can see all orders in a table.</li>
                        </ul>

                    </li>
                    <li></li>
                    <li>5. Contact page with contact form.</li>
                    <li>6. Forum. All logged users can use the forum to ask questions, exchange experiences.  </li>
                    <li>
                        <p>Plugins which we used in project:</p>
                        <ul class="sub-list">
                            <li>Contact Form 7</li>
                            <li>ReCaptcha v2 for Contact Form 7</li>
                            <li>Database for WPforms</li>
                            <li>File Upload Types</li>
                            <li>Forum Asgaros</li>
                            <li>Wordpress File Upload</li>
                        </ul>
                    </li>
                </ol>
            </article>
            <article class="content pl">
                <header>
                    <span>PL</span>
                    <h4>Opis</h4>
                </header>
                <p>Projekt podsumowujący studia podyplomowe. Strona stworzona w pracy grupowej – trzyosobowej.
                    Storna ma na celu pomóc seniorom z zakupami, którzy nie mogą zrobić ich sami w czasie pandemii
                    covid-19.</p>
                <p>Strona zawiera:</p>
                <ol>
                    <li>
                        <p>Stornę główną:</p>
                        <ul>
                            <li>Sekcja o nas. </li>
                            <li>Sekcja skrót informacjami z linkiem do formularza, danych kontaktowych i opisem jak
                                wygląda pomoc</li>
                            <li>Sekcja informacjami z linkami do rejestracji dla wolontariusza lub formularza dla
                                seniora</li>
                        </ul>
                    </li>
                    <li>Strona z formularzem, przeznaczona dla seniora
                        Senior może wypełnić prosty formularz, wszystkie dane z formularza są wysyłane do bazy
                        danych.
                        Senior może podać swoje dane osobowe, dane zamieszkania oraz listę produktów. </li>
                    <li>Strona mapa zleceń. Zlecenia są wyświetlane w zakładce przeglądaj zlecenia oraz na
                        dołączonej
                        mapie. Do danych osobowych ma dostęp tylko osoba zalogowana, która jest zaakceptowana prze
                        administratora. Jeśli osoba nie jest zarejestrowana, na mapie zleceń jest wyświetlana lista
                        zakupów danej osoby bez danych osobowych z przybliżonym adresem zamieszkania. </li>
                    <li>
                        <p>Sekcja dla wolontariusza z podstronami:</p>
                        <ul>
                            <li><strong>Rejestracja: </strong> osoba która chce pomóc w zakupach może zostać
                                wolontariuszem i zarejestrować się na stronie, administrator akceptuje konto. Po
                                akceptacji wolontariusz może korzystać z konta.</li>
                            <li><strong>Moje Konto: </strong>Wolontariusz ma możliwość logowania się na stronie,
                                zmienić
                                swoje hasło</li>
                            <li><strong>Moje zlecenia:</strong> Wolontariusz ma możliwość przeglądać zlecenia, które
                                przejął, zmienić status zlecenia, na zrealizowany lub zwrócić zlecenie do bazy
                                danych.
                            </li>
                            <li><strong>Przegląd zleceń: </strong>Wolontariusz ma możliwość przeglądać zlecenia w
                                bazie
                                i je przejąć. </li>
                        </ul>
                    </li>
                    <li>Strona kontakt. Informacje kontaktowe, z formularzem kontaktowym </li>
                    <li>Forum. Użytkownicy, wolontariusze mogą komunikować się między sobą, wymieniać doświadczenia
                        przez forum.</li>
                    <li>
                        <p>Pluginy wykorzystane w projekcie:</p>
                        <ul class="sub-list">
                            <li>Contact Form 7</li>
                            <li>ReCaptcha v2 for Contact Form 7</li>
                            <li>Database for WPforms</li>
                            <li>File Upload Types</li>
                            <li>Forum Asgaros</li>
                            <li>Wordpress File Upload</li>
                        </ul>
                    </li>
                </ol>
            </article>
            <div> <a href="#">
                    <h3 class="code-link">See code on github <i class="fa fa-code" aria-hidden="true"></i></h3>
                </a></div>
            <a href="http://ow4481.wsbpoz.solidhost.pl/zakupy_dla_seniora/" title="see demo">
                <div class="demo-gif">
                    <h3>Demo</h3>
                    <div class="demo-gif-container">
                        <div class="demo-img">
                            <img src="../demo/zakupydlaseniora.gif" alt="zakupy-dla-seniora-demo">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </main>


</body>


</html>